<p id="notice"><%= notice %></p>

<p>
  <strong>Descripcion:</strong>
  <%= @estandar.descripcion %>
</p>

<%= link_to 'Edit', edit_estandar_path(@estandar) %> |
<%= link_to 'Back', estandars_path %>
