<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @tioperacion.nombre %>
</p>

<%= link_to 'Edit', edit_tioperacion_path(@tioperacion) %> |
<%= link_to 'Back', tioperaciones_path %>
