<p id="notice"><%= notice %></p>

<p>
  <strong>Descripcion:</strong>
  <%= @especificacion.descripcion %>
</p>

<%= link_to 'Edit', edit_especificacion_path(@especificacion) %> |
<%= link_to 'Back', especificacions_path %>
